.container {
    display: flex;
    justify-content: center;
}

.title h2 {
    color: #0F385A;
}

.input-Poli {
    display: flex;
}

.modal-body p {
    color:#0f385a;
    font-style: italic;
    margin: 15px;
}

.container-Poli {
    width: 65%;
    height: 50%;
    border: 2px solid #0f385a;;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.label-Poli {
    align-self: center;
    text-align: initial;
}

.label-Poli label {
    margin: 0;
    color:#0f385a;
}

.input-Poli p {
    color:#0f385a;
    font-style: italic;
}