<div class="home-Poli" style="margin-bottom: 4%; text-align: left;">
    <a routerLink="home" class="nav-link navbar-brand" (click)="routerHome()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg> Home
    </a>
</div>
<div class="container container-Poli">
    <div class="full-width">
        <div class="title" style="margin-bottom: 8%;">
            <h2>Agendamiento de tutorías</h2>
        </div>
        <div>
            <form #localForm='ngForm' (ngSubmit)="submit(modalInfo)" accept-charset="UTF-8" role="form">
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="isbn">Programa:</label>
                        </div>
                        <div class="col-md-9">
                            <input disabled type="text" class="form-control ent ent-collegeCareer" id="collegeCareer"
                                name="collegeCareer" autocomplete="off" [(ngModel)]="tutorial.collegeCareer">
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="courses">Materia:</label>
                        </div>
                        <div class="col-md-9">
                            <select required class="form-control ent ent-course" id="course" name="course" (change)="onChange()" [(ngModel)]="tutorial.course">
                                <option *ngFor="let course of courses.parameter" [ngValue]="course.id">{{ course.value }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="isbn">Docente:</label>
                        </div>
                        <div class="col-md-9">
                            <select required class="form-control ent ent-instructor" id="instructor" name="instructor" [(ngModel)]="tutorial.instructor">
                                <option *ngFor="let instructor of instructors.parameter" [ngValue]="instructor.id">{{ instructor.value  }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-12 title-label-Poli">
                            <label for="isbn">Horario Sugerido</label>
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="days">Días:</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select required name="availabilityDate" bindLabel="name" appendTo="body" multiple="true"
                                [(ngModel)]="tutorial.availabilityDate" class="form-control ent ent-availabilityDate">
                                <ng-option *ngFor="let day of days" [value]="day">{{ day }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="isbn">Hora Inicio:</label>
                        </div>
                        <div class="col-md-9">
                            <input required type="text" class="form-control ent ent-availabilityStartTime" placeholder="hh:mm"
                                id="availabilityStartTime" name="availabilityStartTime" autocomplete="off"
                                [(ngModel)]="tutorial.availabilityStartTime">
                        </div>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <div class="col-md-3 label-Poli">
                            <label for="isbn">Hora Fin:</label>
                        </div>
                        <div class="col-md-9">
                            <input required type="text" class="form-control ent ent-availabilityEndTime" id="availabilityEndTime"
                                name="availabilityEndTime" autocomplete="off" placeholder="hh:mm"
                                [(ngModel)]="tutorial.availabilityEndTime">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input class="btn btn-primary btn-Poli" type="submit" value="Agendar" [disabled]="!localForm.valid">
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #modalInfo let-modal>
    <div class="modal-body">
        <div style="width: 400px; margin: auto; text-align: center;">
            <p>Su caso ha sido creado con el radicado: {{ registeredId }}</p>
        </div>
    </div>
    <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-primary btn-Poli" (click)="modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>