<div class="container container-login-Poli mat-dialog-content">
    <div class="full-width">
        <div class="title" style="margin-bottom: 8%;">
            <h2>¡Bienvenido!</h2>
        </div>
        <div style="margin-bottom: 8%;">
            <form #localForm='ngForm' (ngSubmit)="login(localForm)" accept-charset="UTF-8" role="form">
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <mat-form-field class="modal-field" style="width: 100%;">
                            <input matInput type="text" placeholder="Usuario" class="form-control ent ent-usuario" id="usuario"
                            name="usuario" autocomplete="off" required ngModel>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row container-input">
                    <div class="col-xs-12 input-Poli">
                        <mat-form-field class="modal-field" style="width: 100%;">
                            <input matInput type="password" placeholder="Contrase&ntilde;a" class="form-control ent ent-contrasena"
                            id="contrasena" name="contrasena" autocomplete="off" required ngModel>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="errorLogin" style="display: flex; justify-content: center;">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            Credenciales incorrectas
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input mat-button class="btn btn-primary btn-Poli" type="submit" value="Ingresar" [disabled]="!localForm.valid">
                </div>
            </form>
        </div>
    </div>
</div>