/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    font-family: 'Open Sans Condensed',sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.container-input {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.input-Poli {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;
}

.non-padding-margin {
    padding: 0px;
    margin: 0px;
}

.btn-Poli {
    font-size: 0.9em !important;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #0f385a;
    border-color: #0f385a;
    margin: 0;
    height: auto;
}

.modal-Poli .modal-dialog {
    max-width: 700px !important;
}

.home-Poli a {
    color: #0f385a;
}

.title-label-Poli {
    border-bottom: groove;
    border-bottom-color: #0f385a;
    text-align: center !important;
}

.title-label-Poli label {
    color: #0f385a;
    font-weight: bold;
}

.modal-Poli {
    text-align: -webkit-center;
}

.success-Poli svg {
    color: green;
}

.warning-Poli svg {
    color:darkgoldenrod;
}

.alert-danger svg {
    color:darkred;
}

.alert {
    text-align: center;
    justify-content: center;
    font-size: 0.9em;
    margin: 0;
}

.alert a {
    align-self: center;
    font-size: 0.9em;
}

.alert .message {
    align-self: center;
}

.ent {
    text-align-last: left !important;
    font-size: 0.85em;
}

.cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
  }

  
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 